$primary:#044fc0 ;
$success:#00b330;
$danger:#ff0000;
$secondary:#00649e;

// body{
//     font-family: 'Times New Roman', Times, serif;
//     background-image:url(../img/bg.png);
//     background-position: top right;
//     background-repeat: no-repeat;
//     background-size: 50vmax;
// }



@import "node_modules/bootstrap/scss/bootstrap.scss"
